<div class="container ">
  <section>
    <ng-container *ngIf="employeeForm">
      <form [formGroup]="employeeForm" (ngSubmit)="onSave(employeeForm)">
        <div class="row">
          <div class="col">
            <mat-card class="w-100">
              <mat-card-header>
                <mat-card-title>
                  <h2>Edit Profile</h2>
                </mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div class="row justify-content-start mb-3" *ngIf="newEmp.image">
                  <div class="rounded-3">
                    <img src="./assets/images/{{newEmp.image}}" class="profile m-2" alt="">
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <mat-form-field class="w-100">
                      <mat-label>Name</mat-label>
                      <input matInput formControlName="name">

                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="w-100 ">
                      <mat-label>Job role</mat-label>
                      <input type="text" matInput id="role" formControlName="role" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <mat-form-field class="w-100">
                      <mat-label>Age</mat-label>
                      <input matInput formControlName="age">
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="w-100 ">
                      <mat-label>Job role</mat-label>
                      <mat-label>Choose an gender</mat-label>
                      <mat-select id="gender" formControlName="gender">
                        <mat-option value="male">Male</mat-option>
                        <mat-option value="female">Female</mat-option>
                        <mat-option value="other">Other</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <mat-form-field class="w-100">
                      <mat-label>Phone</mat-label>
                      <input matInput type="text" id="mobile" formControlName="mobile">

                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="w-100 ">
                      <mat-label>Date of birth </mat-label>
                      <input matInput [matDatepicker]="picker" formControlName="dob" >
                      <mat-hint>MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                      <!-- <input type="text" matInput id="role" formControlName="role" /> -->
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <mat-form-field class="w-100">
                      <mat-label>Blood Group</mat-label>
                      <input matInput type="text" id="blood" formControlName="blood">

                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="w-100 ">
                      <mat-label>Pincode</mat-label>
                      <input type="text" matInput id="pin" formControlName="pin" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <mat-form-field class="w-100 ">
                      <mat-label>Email</mat-label>
                      <input type="text" matInput id="email" formControlName="email" />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="w-100">
                      <mat-label>Password</mat-label>
                      <input matInput type="text" id="password" formControlName="password">

                    </mat-form-field>
                  </div>
                </div>
              
                <div class="row">
                  <div class="col">
                  <button type="button" mat-raised-button (click)="fileInput.click()" class="bg-info opacity-75">Change Profile</button>
                  <input hidden (change)="uploadFile($event)" #fileInput type="file">
                </div>
                </div>
              </mat-card-content>


              <mat-card-actions>
                <div class="w-100 d-flex justify-content-center">
                  <button mat-raised-button class="bg-success text-white px-4">Submit</button>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </form>
    </ng-container>
  </section>
</div>